* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.cv-list li {
  list-style-position: inside;
}
.CV-photo {
  height: 200px;
}

